{% extends "base.html" %}
{% load static %}

{% block css_files %}
 <link rel="stylesheet" href="{% static "challenges/index.css" %}">
 <link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">
{% endblock %}

{% block title %}
    All Monthly Challenges
{% endblock %}

{% block content %}
    <h1>My Monthly Challenges of 2023</h1>
    <ul>
        {% for month in months %}
            <li><a href="{% url "month-challenge" month %}">{{ month|title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
